@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  direction: rtl;
  /* Optional: For better RTL support */
  text-align: right;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f0f0f0;
  font-family: var(--font-yekan);
  text-align: right;
}

.menu-sider .active:after {
  content: "";
  height: 36px;
  width: 6px;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 178 51 / var(--tw-bg-opacity)) !important;
  position: absolute;
  left: -11px;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-card,
.ant-col,
.ant-checkbox-wrapper,
.ant-modal {
  font-family: var(--font-yekan) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.map-background {
  background-image: url("/images/map-background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  position: relative;
  width: 100%; /* Set your desired width */
  height: 100%; /* Set your desired height */
  margin: 50px;
}
